<div class="book-details">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <h1><%= @type.title %></h1><hr>
        <% @books.each do |book| %>
          <div class="col-sm-3 cate-book">
            <img src="<%= book.picture %>">
            <p class="cate-book-title"><%= link_to book.title, book_path(book) %></p>
          </div>
        <% end %>
        <div class="text-center">
          <%= paginate @books %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="list-cate">
        <div class=" clearFloats bigBox">
          <div class="h2Container gradientHeaderContainer">
            <h2 class="brownBackground">Genres</h2><hr>
          </div>
          <div class="bigBoxBody">
            <div class="bigBoxContent containerWithHeaderContent">
              <% Category.distinct.each do |cate| %>
                <div class="elementList ">
                  <%= link_to cate.title, category_path(cate), class:"bookPageGenreLink" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
